*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-page{
    width: 50vw;
    height: 50vh;
    background-image: url("https://picsum.photos/id/684/600/400") ;
    background-size: cover;
    border: 5px solid rgb(0, 255, 76);
    
    
}
.image-buttons{
    display: flex;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10vw;
    & button{
        background-color: rgb(0, 38, 255);
        cursor: pointer;
        width: 10vw;
        height: 10vh;
        opacity: 0.7;
        border-radius: 20%;
        color: wheat;
        font-size: 1rem;
        &:hover{
            opacity: 1;
        }
    }
}
